{% extends "task/base.html" %}

{% block body %}

    {% if todos %}

    <div class="card border-dark mb-4 me-4 ms-4 mt-4">
      <div class="card-header">To Do's</div>
      <div class="card-body">
        <p class="card-text">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for todo in todos %}
                            <tr>
                                <td>{{ todo.task_title }}</td>
                                <td>{{ todo.description }}</td>
                                <td>{{ todo.date }}</td>
                                <td>{{ todo.due_date }}</td>
                                <td>
                                    {% if todo.status == 1 %}
                                        <i class="fa-regular fa-circle-check fa-lg"></i> Done
                                    {% else %}
                                        <i class="fa-regular fa-circle fa-lg"></i> Not Done Yet
                                    {% endif %}
                                </td>
                                <td>
                                    {% if todo.status == 0 %}
                                        <a href="{% url 'changestatus' todo.id %}" class="btn btn-success">Complete</a>

                                    {% else %}
                                        <a href="{% url 'changestatus' todo.id %}" class="btn btn-warning">Not Complete</a>

                                    {% endif %}

                                    <a class="btn btn-primary m-2" href="{% url 'updatetask' todo.id %}">Update</a>
                                    <a class="btn btn-danger m-2" href="{% url 'deletetask' todo.id %}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </p>
      </div>
    </div>

    {% else %}
        <h2 class="alert alert-primary ms-4 me-4 mt-4">No ToDo's</h2>
    {% endif %}

{% endblock %}